<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%- htmlWebpackPlugin.options.metadata.title %>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="apple-touch-icon" href="pages/ico/60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta content="" name="description" />
  <meta content="" name="author" />

  <% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <% } %>
      <% if (htmlWebpackPlugin.options.metadata.ENV === 'production') { %>
        <base href="<%- htmlWebpackPlugin.options.metadata.baseUrlProd %>">
        <% } %>
          <link rel="icon" type="image/png" href="favicon.ico">
          <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
          <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
          <link href="assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
          <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
          <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
          <link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
          <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />


          <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">


          <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
          <!--<link rel="stylesheet" href="./node_modules/select2/dist/css/select2.min.css">-->

          <!-- imported CSS are concatenated and added automatically -->

          <script type="text/javascript">
            window.onload = function () {
              // fix for windows 8
              if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                document.head.innerHTML +=
                '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'
            }

          </script>
</head>

<body aurelia-app="main" class="fixed-header">


  <div class="portlet-progress" style="background-color: rgba(255, 255, 255, 0.8); display: block;">
    <div class="progress-circle-indeterminate progress-circle-master" ></div>
  </div>

  <!-- BEGIN VENDOR JS -->
  <script src="pages/js/pages.js" type="text/javascript"></script>

  <!-- END VENDOR JS -->
  <% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>
